*.py[cod]
.hgignore~
.gitignore~
.hg/

example/media/cache/
example/static/
example/db/example.db
example/tmp/
build/
builddocs/
builddocs.zip
example-builddocs/
dist/
src/django_werewolf.egg-info
todos.rst

local_settings.py

src/werewolf/models/fields.py
